body {
    background-color: pink;

}

#time {

    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;

    .watch {
        background-color: grey;
        width: 18rem;
        border-radius: 50%;
        text-align: center;
        padding-top: 4.5rem;

        p {
            color: pink;
            font-size: 8rem;
            margin: unset;
        }

    }

    .dots {
        font-size: 6rem;
        color: grey;

    }
}